<header>
    <div class='container'>
        <nav>
            <ul>
                <li><%= link_to "Cocktails", cocktails_path%></li>
                <li><%= link_to "Categories", categories_path%></li>
            </ul>
        </nav>
    </div>
</header>        